body{
    font-family: 'Segoe UI';
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    max-width: 25%;
    font-size: 22px;
    align-items: center;
}

table{
    border: 3px solid #f1f1f1;
    max-width: 55%;
}

/* Full-width inputs */
input[type=email], input[type=password], input[type=text], input[type=number], input[type=date]
{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
}

/* Set a style for all buttons */
button, input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

.divMain{
    border: 3px solid #f1f1f1;
    max-width: 20%;
    padding: 1%;
}

.labelTitle{
    border: 2px; 
    border-radius: 3px;
    background-color: green;
    color: white;
    font-size: 22px;
    padding: 5px;
}
